<div class="container">
    <div *ngIf="mostrarItem" class="alert alert-success mt-4 mb-4" role="alert">
        {{'editarComic.msj.editarok' | translate}}
    </div>
    <form [formGroup]="editarComicForm">

        <div class="row">
            <div class="col-6">
                <label for="txtNombre">{{'gestionarComic.nombre' | translate}}:</label>
                <input id="txtNombre" type="text" class="form-control" maxlength="50" formControlName="nombre"
                    [ngClass]="{'is-invalid':validoFormulario && f.nombre.errors}">
                <div *ngIf="validoFormulario && f.nombre.errors">
                    <span class="text-danger" *ngIf="f.nombre.errors.required">{{'gestionarComic.camporequerido' |
                        translate}}</span>
                </div>
            </div>
            <div class="col-6">
                <label for="txtEditorial">{{'gestionarComic.editorial' | translate}}:</label>
                <input id="txtEditorial" type="text" class="form-control" maxlength="50" formControlName="editorial"
                    [ngClass]="{'is-invalid':validoFormulario && f.editorial.errors}">
                <div *ngIf="validoFormulario && f.editorial.errors">
                    <span class="text-danger" *ngIf="f.editorial.errors.required">{{'gestionarComic.camporequerido' |
                        translate}}</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="listTematica">{{'gestionarComic.tematica' | translate}}:</label>
                    <select formControlName="tematicaEnum" id="listTematica" class="form-control">
                        <option value="AVENTURAS">{{'enum.tematica.aventuras' | translate}}</option>
                        <option value="BELICO">{{'enum.tematica.belico' | translate}}</option>
                        <option value="HUMORISTICO">{{'enum.tematica.humoristico' | translate}}</option>
                        <option value="DEPORTIVO">{{'enum.tematica.deportivo' | translate}}</option>
                        <option value="FANTASTICO">{{'enum.tematica.fantastico' | translate}}</option>
                        <option value="CIENCIA_FICCION">{{'enum.tematica.cienciaficcion' | translate}}</option>
                        <option value="HISTORICO">{{'enum.tematica.historico' | translate}}</option>
                        <option value="HORROR">{{'enum.tematica.horror' | translate}}</option>
                    </select>
                    <div *ngIf="validoFormulario && f.tematicaEnum.errors">
                        <span class="text-danger"
                            *ngIf="f.tematicaEnum.errors.required">{{'gestionarComic.camporequerido' |
                            translate}}</span>
                    </div>
                </div>


            </div>
            <div class="col-6">
                <label for="txtColeccion">{{'gestionarComic.coleccion' | translate}}:</label>
                <input id="txtColeccion" type="text" class="form-control" maxlength="50" formControlName="coleccion"
                    [ngClass]="{'is-invalid':validoFormulario && f.coleccion.errors}">
                <div *ngIf="validoFormulario && f.coleccion.errors">
                    <span class="text-danger" *ngIf="f.coleccion.errors.required">{{'gestionarComic.camporequerido' |
                        translate}}</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <label for="txtNumPaginas">{{'gestionarComic.numeropagina' | translate}}:</label>
                <input id="txtNumPaginas" type="number" class="form-control" maxlength="50"
                    formControlName="numeroPaginas"
                    [ngClass]="{'is-invalid':validoFormulario && f.numeroPaginas.errors}">
                <div *ngIf="validoFormulario && f.numeroPaginas.errors">
                    <span class="text-danger" *ngIf="f.numeroPaginas.errors.required">{{'gestionarComic.camporequerido'
                        | translate}}</span>
                </div>
            </div>
            <div class="col-6">
                <label for="txtPrecio">{{'gestionarComic.precio' | translate}}:</label>
                <input id="txtPrecio" type="number" class="form-control" maxlength="50" formControlName="precio"
                    [ngClass]="{'is-invalid':validoFormulario && f.precio.errors}">
                <div *ngIf="validoFormulario && f.precio.errors">
                    <span class="text-danger" *ngIf="f.precio.errors.required">{{'gestionarComic.camporequerido' |
                        translate}}</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <label for="txtAutores">{{'gestionarComic.autores' | translate}}:</label>
                <textarea formControlName="autores" id="txtAutores" rows="3"></textarea>
            </div>
            <div class="col-6">
                <label for="color">{{'gestionarComic.color' | translate}}:</label>
                <br>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline1" formControlName="color" [value]="'true'"
                        class="custom-control-input">
                    <label for="customRadioInline1" class="custom-control-label">{{'gestionarComic.color.si' |
                        translate}}</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline2" formControlName="color" [value]="'false'"
                        class="custom-control-input">
                    <label for="customRadioInline2" class="custom-control-label">{{'gestionarComic.color.no' |
                        translate}}</label>
                </div>

            </div>
        </div>

        <div class="row mt-4 mb-4">
            <div class="col-8"></div>
            <div class="col-2 text-right ">
                <button type="button" class="btn btn-success" (click)="actualizar()"><i class='fas fa-save'></i> {{'editarComic.guardar' |
                    translate}}</button>
            </div>
            <div class="col-2 text-right ">
                <button type="button" class="btn btn-primary" (click)="regresar()"><i class='fas fa-arrow-alt-circle-left'></i> {{'consultarComic.regresar' |
                    translate}}</button>
            </div>
        </div>
        <input type="hidden" formControlName="id"/>
        <input type="hidden" formControlName="fechaVenta"/>
        <input type="hidden" formControlName="estadoEnum"/>        
    </form>
</div>