<div class="container">
    <form [formGroup]="gestionarComicForm">
        <!-- <h1>Gestionar Comic</h1> -->
        <h1 translate [translateParams]="{nombreSemillero : tituloComplemento.nombreSemillero}" class="mt-2 mb-2">
            gestionarComic.titulo
        </h1>
        <hr>
        <!-- <br>
        <pre>{{ comicDTO | json }}</pre> -->
        <div class="row mt-2">
            <div class="col-6">
                <label for="txtNombre">{{'gestionarComic.nombre' | translate}}:</label>
                <input id="txtNombre" type="text" class="form-control" maxlength="50" formControlName="nombre"
                    [ngClass]="{'is-invalid':validoFormulario && f.nombre.errors}">
                <div *ngIf="validoFormulario && f.nombre.errors">
                    <span class="text-danger" *ngIf="f.nombre.errors.required">{{'gestionarComic.camporequerido' |
                        translate}}</span>
                </div>
            </div>
            <div class="col-6">
                <label for="txtEditorial">{{'gestionarComic.editorial' | translate}}:</label>
                <input id="txtEditorial" type="text" class="form-control" maxlength="50" formControlName="editorial"
                    [ngClass]="{'is-invalid':validoFormulario && f.editorial.errors}">
                <div *ngIf="validoFormulario && f.editorial.errors">
                    <span class="text-danger" *ngIf="f.editorial.errors.required">{{'gestionarComic.camporequerido' |
                        translate}}</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="listTematica">{{'gestionarComic.tematica' | translate}}:</label>
                    <select formControlName="tematicaEnum" id="listTematica" class="form-control"
                        (change)="agregarValidacionColeccion()">
                        <option value="AVENTURAS">{{'enum.tematica.aventuras' | translate}}</option>
                        <option value="BELICO">{{'enum.tematica.belico' | translate}}</option>
                        <option value="HUMORISTICO">{{'enum.tematica.humoristico' | translate}}</option>
                        <option value="DEPORTIVO">{{'enum.tematica.deportivo' | translate}}</option>
                        <option value="FANTASTICO">{{'enum.tematica.fantastico' | translate}}</option>
                        <option value="CIENCIA_FICCION">{{'enum.tematica.cienciaficcion' | translate}}</option>
                        <option value="HISTORICO">{{'enum.tematica.historico' | translate}}</option>
                        <option value="HORROR">{{'enum.tematica.horror' | translate}}</option>
                    </select>
                    <div *ngIf="validoFormulario && f.tematicaEnum.errors">
                        <span class="text-danger"
                            *ngIf="f.tematicaEnum.errors.required">{{'gestionarComic.camporequerido' |
                            translate}}</span>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <label for="txtColeccion">{{'gestionarComic.coleccion' | translate}}:</label>
                <input id="txtColeccion" type="text" class="form-control" maxlength="50" formControlName="coleccion"
                    [ngClass]="{'is-invalid':validoFormulario && f.coleccion.errors}">
                <div *ngIf="validoFormulario && f.coleccion.errors">
                    <span class="text-danger" *ngIf="f.coleccion.errors.required">{{'gestionarComic.camporequerido' |
                        translate}}</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <label for="txtNumPaginas">{{'gestionarComic.numeropagina' | translate}}:</label>
                <input id="txtNumPaginas" type="number" class="form-control" maxlength="50"
                    formControlName="numeroPaginas"
                    [ngClass]="{'is-invalid':validoFormulario && f.numeroPaginas.errors}">
                <div *ngIf="validoFormulario && f.numeroPaginas.errors">
                    <span class="text-danger" *ngIf="f.numeroPaginas.errors.required">{{'gestionarComic.camporequerido'
                        | translate}}</span>
                </div>
            </div>
            <div class="col-6">
                <label for="txtPrecio">{{'gestionarComic.precio' | translate}}:</label>
                <input id="txtPrecio" type="number" class="form-control" maxlength="50" formControlName="precio"
                    [ngClass]="{'is-invalid':validoFormulario && f.precio.errors}">
                <div *ngIf="validoFormulario && f.precio.errors">
                    <span class="text-danger" *ngIf="f.precio.errors.required">{{'gestionarComic.camporequerido' |
                        translate}}</span>
                </div>
            </div>
        </div>

        <div class="row">            
            <div class="col-6">
                <label for="color">{{'gestionarComic.color' | translate}}:</label>
                <br>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline1" formControlName="color" [value]="true"
                        class="custom-control-input">
                    <label for="customRadioInline1" class="custom-control-label">{{'gestionarComic.color.si' |
                        translate}}</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline2" formControlName="color" [value]="false"
                        class="custom-control-input">
                    <label for="customRadioInline2" class="custom-control-label">{{'gestionarComic.color.no' |
                        translate}}</label>
                </div>
            </div>
            <div class="col-6">
                <label for="txtCantidad">{{'gestionarComic.cantidad' | translate}}:</label>
                <input id="txtCantidad" type="number" class="form-control" maxlength="50" formControlName="cantidad"
                    [ngClass]="{'is-invalid':validoFormulario && f.cantidad.errors}">
                <div *ngIf="validoFormulario && f.cantidad.errors">
                    <span class="text-danger" *ngIf="f.cantidad.errors.required">{{'gestionarComic.camporequerido' |
                        translate}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="off-3 col-6">
                <label for="txtAutores">{{'gestionarComic.autores' | translate}}:</label>
                <textarea formControlName="autores" id="txtAutores" rows="3"></textarea>
            </div>
        </div>
        <div class="row mt-4 mb-4">
            <div class="col-6">
                <span></span>
            </div>
            <div class="col-6 text-right">
                <button type="button" class="btn btn-primary" (click)="crearComic()"><i class="fas fa-plus-circle"></i>
                    {{'gestionarComic.btn.crear' |
                    translate}}</button>
            </div>
        </div>

        <div *ngIf="mostrarItem" class="alert alert-success mt-4 mb-4" role="alert">
            {{'gestionarComic.msj.crearok' | translate}}
            <button type="button" class="close text-secondary" style="height: 0;" (click)="cerrar()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div *ngIf="mostrarItemBorrar" class="alert alert-info mt-4 mb-4" role="alert">
            {{'gestionarComic.msj.borrar.ok' | translate}} <b>{{comicBorrar.nombre}}</b>
            <button type="button" class="close text-secondary" style="height: 0;" (click)="cerrar()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div *ngIf="mostrarMensajeError" class="alert alert-danger mt-4 mb-4" role="alert">
            {{'gestionarComic.msj.borrar.error' | translate}} <b># {{indexComicBorrado}}</b>
            <button type="button" class="close text-secondary" style="height: 0;" (click)="cerrar()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div *ngIf="mostrarMensajeFallido" class="alert alert-warning mt-4 mb-4" role="alert">
            {{ mensajeEjecucion }}
            <button type="button" class="close text-secondary" style="height: 0;" (click)="cerrar()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="row" *ngIf="listaComics.length>0">
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">{{'gestionarComic.nombre' | translate}}</th>
                            <th scope="col">{{'gestionarComic.tematica' | translate}}</th>
                            <th scope="col">{{'gestionarComic.precio' | translate}}</th>
                            <th scope="col">{{'gestionarComic.color' | translate}}</th>
                            <th scope="col">{{'gestionarComic.acciones' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let comic of listaComics; let i=index;">
                            <th scope="row">{{i}}</th>
                            <td>{{comic.nombre | uppercase}}</td>
                            <td>{{getLabelTematica(comic.tematicaEnum) | translate }}</td>
                            <td>{{comic.precio | number: '.2'}}</td>
                            <td>{{getLabelColor(comic.color) | translate }}</td>
                            <!-- <td>{{comic.fechaVenta | date: "MM-dd-yy" }}</td> -->
                            <td>
                                <i class="fas fa-search 2x ml-1" (click)="irAConsultarComic(comic)"
                                    title="{{'gestionarComic.consultar' | translate}}"></i>
                                <!-- <i class="fas fa-search 2x ml-1" [routerLink]="['/consultar-comic', comic]" 
                                    routerLinkActive="router-link-active" title="Consultar"></i>-->
                                <i class="fas fa-pencil-alt 2x ml-1" (click)="irAEditarComic(comic)"
                                    title="{{'gestionarComic.editar' | translate}}"></i>
                                <i class="fas fa-times-circle 2x ml-1" title="{{'gestionarComic.eliminar' | translate}}"
                                    (click)="confirmaBorrarComic(i)" data-toggle="modal"
                                    data-target="#staticBackdrop"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- <div *ngIf="mostrarData" class="alert alert-info" role="alert">
            ITEM SELECCIONADO:
            <pre>{{ comicDTOData | json }}</pre>
            <button type="button" class="btn btn-primary" (click)="cerrar()">Cerrar</button>
        </div> -->
    </form>
    <!-- Modal Borrar -->
    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">{{'gestionarComic.modalBorrar.titulo' | translate}}
                    </h5>
                    <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button> -->
                </div>
                <div class="modal-body">
                    {{msjBorrar}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary"
                        data-dismiss="modal">{{'gestionarComic.msj.cerrar' | translate}}</button>
                    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal"
                        (click)="borrarComic()">{{'gestionarComic.modalBorrar.confirmar' | translate}}</button>
                </div>
            </div>
        </div>
    </div>


</div>