<div class="container">
    <form [formGroup]="gestionarComicForm">
        <!-- <h1>Gestionar Comic</h1> -->
        <h1 translate [translateParams]="{nombreSemillero : tituloComplemento.nombreSemillero}">gestionarComic.titulo
        </h1>
        <hr>
        <br>
        <pre>{{ comicDTO | json }}</pre>

        <div class="row">
            <div class="col-6">
                <label for="txtNombre">{{'gestionarComic.nombre' | translate}}:</label>
                <input id="txtNombre" type="text" class="form-control" maxlength="50" formControlName="nombre"
                    [ngClass]="{'is-invalid':validoFormulario && f.nombre.errors}">
                <div *ngIf="validoFormulario && f.nombre.errors">
                    <span class="text-danger" *ngIf="f.nombre.errors.required">{{'gestionarComic.camporequerido' |
                        translate}}</span>
                </div>
            </div>
            <div class="col-6">
                <label for="txtEditorial">{{'gestionarComic.editorial' | translate}}:</label>
                <input id="txtEditorial" type="text" class="form-control" maxlength="50" formControlName="editorial"
                    [ngClass]="{'is-invalid':validoFormulario && f.editorial.errors}">
                <div *ngIf="validoFormulario && f.editorial.errors">
                    <span class="text-danger" *ngIf="f.editorial.errors.required">{{'gestionarComic.camporequerido' |
                        translate}}</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="listTematica">{{'gestionarComic.tematica' | translate}}:</label>
                    <select formControlName="tematicaEnum" id="listTematica" class="form-control"
                        (change)="agregarValidacionColeccion()">
                        <option value="AVENTURAS">{{'enum.tematica.aventuras' | translate}}</option>
                        <option value="BELICO">{{'enum.tematica.belico' | translate}}</option>
                        <option value="HUMORISTICO">{{'enum.tematica.humoristico' | translate}}</option>
                        <option value="DEPORTIVO">{{'enum.tematica.deportivo' | translate}}</option>
                        <option value="FANTASTICO">{{'enum.tematica.fantastico' | translate}}</option>
                        <option value="CIENCIA_FICCION">{{'enum.tematica.cienciaficcion' | translate}}</option>
                        <option value="HISTORICO">{{'enum.tematica.historico' | translate}}</option>
                        <option value="HORROR">{{'enum.tematica.horror' | translate}}</option>
                    </select>
                    <div *ngIf="validoFormulario && f.tematicaEnum.errors">
                        <span class="text-danger"
                            *ngIf="f.tematicaEnum.errors.required">{{'gestionarComic.camporequerido' |
                            translate}}</span>
                    </div>
                </div>


            </div>
            <div class="col-6">
                <label for="txtColeccion">{{'gestionarComic.coleccion' | translate}}:</label>
                <input id="txtColeccion" type="text" class="form-control" maxlength="50" formControlName="coleccion"
                    [ngClass]="{'is-invalid':validoFormulario && f.coleccion.errors}">
                <div *ngIf="validoFormulario && f.coleccion.errors">
                    <span class="text-danger" *ngIf="f.coleccion.errors.required">{{'gestionarComic.camporequerido' |
                        translate}}</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <label for="txtNumPaginas">{{'gestionarComic.numeropagina' | translate}}:</label>
                <input id="txtNumPaginas" type="number" class="form-control" maxlength="50"
                    formControlName="numeroPaginas"
                    [ngClass]="{'is-invalid':validoFormulario && f.numeroPaginas.errors}">
                <div *ngIf="validoFormulario && f.numeroPaginas.errors">
                    <span class="text-danger" *ngIf="f.numeroPaginas.errors.required">{{'gestionarComic.camporequerido'
                        | translate}}</span>
                </div>
            </div>
            <div class="col-6">
                <label for="txtPrecio">{{'gestionarComic.precio' | translate}}:</label>
                <input id="txtPrecio" type="number" class="form-control" maxlength="50" formControlName="precio"
                    [ngClass]="{'is-invalid':validoFormulario && f.precio.errors}">
                <div *ngIf="validoFormulario && f.precio.errors">
                    <span class="text-danger" *ngIf="f.precio.errors.required">{{'gestionarComic.camporequerido' |
                        translate}}</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <label for="txtAutores">{{'gestionarComic.autores' | translate}}:</label>
                <textarea formControlName="autores" id="txtAutores" rows="3"></textarea>
            </div>
            <div class="col-6">
                <label for="color">{{'gestionarComic.color' | translate}}:</label>
                <br>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline1" formControlName="color" [value]="true"
                        class="custom-control-input">
                    <label for="customRadioInline1" class="custom-control-label">{{'gestionarComic.color.si' |
                        translate}}</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline2" formControlName="color" [value]="false"
                        class="custom-control-input">
                    <label for="customRadioInline2" class="custom-control-label">{{'gestionarComic.color.no' |
                        translate}}</label>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <span></span>
            </div>
            <div class="col-6 text-right">
                <button type="button" class="btn btn-primary" (click)="crearComic()">{{'gestionarComic.btn.crear' |
                    translate}}</button>
            </div>
        </div>

        <div *ngIf="mostrarItem" class="alert alert-info mt-2 mb-2" role="alert">
            {{'gestionarComic.msj.crearok' | translate}}
            <button type="button" class="btn btn-primary" (click)="cerrar()">{{'gestionarComic.msj.cerrar' |
                translate}}</button>
        </div>

        <div class="row" *ngIf="listaComics.length>0">
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">{{'gestionarComic.nombre' | translate}}</th>
                            <th scope="col">{{'gestionarComic.tematica' | translate}}</th>
                            <th scope="col">{{'gestionarComic.precio' | translate}}</th>
                            <th scope="col">{{'gestionarComic.color' | translate}}</th>
                            <th scope="col">{{'gestionarComic.acciones' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let comic of listaComics; let i=index;">
                            <th scope="row">{{i}}</th>
                            <td>{{comic.nombre | uppercase}}</td>
                            <td>{{comic.tematicaEnum | lowercase }}</td>
                            <td>{{comic.precio | number: '.2'}}</td>
                            <td>{{getLabelComicColor(comic.color) | translate }}</td>
                            <!-- <td>{{comic.fechaVenta | date: "MM-dd-yy" }}</td> -->
                            <td>
                                <i class="fas fa-search 2x ml-1" (click)="irAConsularComic(comic)"
                                    title="{{'gestionarComic.consultar' | translate}}"></i>
                                <!-- <i class="fas fa-search 2x ml-1" [routerLink]="['/consultar-comic', comic]" 
                                    routerLinkActive="router-link-active" title="Consultar"></i>-->
                                <i class="fas fa-pencil-alt 2x ml-1"
                                    title="{{'gestionarComic.editar' | translate}}"></i>
                                <i class="fas fa-times-circle 2x ml-1"
                                    title="{{'gestionarComic.eliminar' | translate}}"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>



        <!-- <div *ngIf="mostrarData" class="alert alert-info" role="alert">
            ITEM SELECCIONADO:
            <pre>{{ comicDTOData | json }}</pre>
            <button type="button" class="btn btn-primary" (click)="cerrar()">Cerrar</button>
        </div> -->
    </form>
</div>