<p>crear-persona works!</p>
<h1>{{ saludo }}</h1>
<p>{{comics | json}}</p>
<p>{{imagen | json}}</p>
<label>Ingrese el path de la imagen:</label>
<input id="pathImagen" type="text" class="form-control-plaintext" [(ngModel)]="imagen.url">
<img [src]="imagen.url" name="urlImagen" [height]="imagen.height" [width]="imagen.width"
    (click)="mostrarDescripcionimagen()">

<h2>Taller Angular</h2>
<div class="row">
    <div *ngFor="let item of comicsTaller" class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{item.nombre}}<span class="badge bg-warning">{{item.id}}</span></h5>
            <p class="card-text">{{item.autores}}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Tematica: {{item.tematicaEnum}}</li>
            <li class="list-group-item">Editorial: {{item.editorial}}</li>
            <li class="list-group-item">Coleccion: {{item.coleccion}}</li>
            <li class="list-group-item">Fecha venta: {{item.fechaVenta}}</li>
            <li class="list-group-item">Paginas: {{item.numeroPaginas}}</li>
            <li class="list-group-item">Cantidad: {{item.cantidad}}</li>
            <li class="list-group-item">Color: {{item.color}}</li>
            <li class="list-group-item">Estado: {{item.estadoEnum}}</li>
        </ul>
    </div>
</div>
<br>
<button type="button" class="btn btn-danger" (click)="borraComic(3)" >Borrar Comic #3</button>

<div *ngIf="mostrarMensajeBorrado" class="alert alert-info mt-4" role="alert">
    Se ha eliminado el comic <b>{{comicBorrado.nombre}}</b>
</div>

<div *ngIf="mostrarMensajeError" class="alert alert-danger mt-4" role="alert">
    Error al tratar de borrar el <b>Comic #3, NO EXISTE!!</b> 
</div>